.MainFooter {
  background-color: #1b1b1b;
  color: white;
  border-top: 1px solid var(--divider-color) !important;

  .FooterContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding-top: 2rem;
    padding-bottom: 2rem;

    .LeftPromo {
      display: grid;
      gap: 0.5rem;

      img:first-of-type {
        margin-bottom: 1rem;
      }
    }
  }
}
